<ActionBar title="Experiment1"></ActionBar>
<GridLayout>
  <Canvas visibility="visible" (ready)="onCanvasReady($event)"></Canvas>
  <!--  <MDSlider value="50" minValue="0" maxValue="100"></MDSlider>-->
  <!--  <Slider value="50" minValue="0" maxValue="100"></Slider>-->
  <!--  <MDCardView rippleColor="blue"  width="100" height="100"></MDCardView>-->
  <!--  <MDButton rippleColor="blue" text="text button"></MDButton>-->
  <LineChart width="300" height="400" (loaded)="onChartLoaded($event)">
  </LineChart>
</GridLayout>
